<div class="banner">
    <div class="container banner-1">
        <div class="title">
            <i class="bi bi-moon"></i>  Special Deals For Ramadan <i class="bi bi-moon"></i>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
             <div class="img-banner">
                <img src="https://eg.jumia.is/cms/Ramadan-23/Partners/Adidas/winter/a4.png" class="img-fluid img-b1" alt="">
             </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="img-banner">
                   <img src="https://eg.jumia.is/cms/Ramadan-23/Partners/Defacto/dfc1.png" class="img-fluid img-b1" alt="">
                </div>
               </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                 <div class="img-banner">
                    <img src="https://eg.jumia.is/cms/Ramadan-23/Deals/Home/Oriental-Weavers/DesktopENed.png" class="img-fluid img-b1" alt="">
                 </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="img-banner">
                       <img src="https://eg.jumia.is/cms/Ramadan-23/Extra-Discount/sliderHP/1ss.jpg" class="img-fluid img-b1" alt="">
                    </div>
                   </div>
                </div>
        </div>

    </div>

