@use '../../../app/shared/style/shared-variables' as* ;
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

section{
margin-bottom: 6%;
 margin: 1% 8%;
}


.text-muted{
  color: var(--color-font2) !important;
}
// ul list 
.ul-stayles{
  margin: 1% 0;
   font-size: 16px;
   justify-content: space-between;
   background-color:var(--color-bg2);
   padding: 0.5% 0%;
   display: flex;
  ul , li , a{
    text-decoration: none;
    display: inline;
    font-size: 18px;
   justify-content: space-between;
   color: var(--color-font2);

  }

}
//image
.product-image img {
    height: 30rem !important;
}

.saleicon{
 float: right;
 background-color: brown;
 color: white;
 padding: 15px 10px;
 border-radius: 50%;
}
// headings
.p-details, #p-price{
font-size: 30px;
font-weight: 400;
}

.p-category{
  font-size: 120%;
}
// list icon
.list-icon{
    text-align: center;
}
.list-icon img {
    width :40%;
   
}
 a{
    color: var(--color-font2) !important;
    font-size: small;
 }
// BUTTONS 

.button-wrapper{
    margin-top: 18px;
    text-align: center;
  }
  
  .btn {
    border: none;
    padding: 12px 24px;
    border-radius: 24px;
    font-size: 12px;
    font-size: 0.8rem;  
    letter-spacing: 2px;  
    cursor: pointer;
    margin: 5px 5px;
  }
  
  .btn + .btn {
    margin-left: 10px;
  }
  
  .outline {
    background: transparent;
    color: $primary-color;
    border: 1px solid $primary-color;
    transition: all .3s ease;
    box-shadow: 1px $primary-color inset;
    
  }
  
  .outline:hover{
    transform: scale(1.125);
    color: $primary-color;
    border-color:$primary-color;
    transition: all .3s ease;
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));

  }
  
  .fill {
    background: $primary-color;
    color: rgba(255,255,255,0.95);
    filter: drop-shadow(0);
    font-weight: bold;
    transition: all .3s ease; 
  }
  
  .fill:hover{
    transform: scale(1.125);  
    border-color: rgba(255, 255, 255, 0.9);
    filter: drop-shadow(0 10px 5px rgba(0,0,0,0.125));
    transition: all .3s ease;    
  }

  @media (max-width:500px) {
    .ul-stayles ul li{
      font-size: 10px !important;
    }
    .product-image img {
      height: auto !important;
  }
  }