@import url('https://fonts.googleapis.com/css2?family=Nosifer&display=swap');
$secound-color: #666;
$third-color: rgb(31, 30, 30);
$main-color:rgb(170, 170, 170);
$font-logo:'Nosifer', cursive;
$transition: 0.4s all ease;
$primary-color:#f68b1e;
$background-color: #f7f7f7;

