<section class=" align-items-center">
  <div class=" row title my-5">
    <h1>Our Features</h1>
  </div>
  <div class="container-fluid text-center">
    <div class="row ">
      <!-- Column One -->
      <div class=" col-lg-4 d-flex justify-content-center">
        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-user"></i>
          </div>
          <h3>User Friendly</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
            asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
            commodi.
          </p>
        </div>
        <!-- <div class="card" style="width: 18rem;">
            <div class="icon card-img-top">
                <i class="fa-solid fa-user"></i>
              </div>
            <div class="card-body">
                <h3 class="card-title">User Friendly</h3>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
                  asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
                  commodi.
                </p>
            </div> 
          </div>-->
      </div>
      <!-- Column Two -->
      <div class=" col-lg-4  d-flex justify-content-center">
        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-shield-halved"></i>
          </div>
          <h3>Super Secure</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
            asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
            commodi.
          </p>
        </div>
      </div>
      <!-- Column Three -->
      <div class=" col-lg-4  d-flex justify-content-center">
        <div class="card">
          <div class="icon">
            <i class="fa-solid fa-headset"></i>
          </div>
          <h3>Quick Support</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis
            asperiores natus ad molestiae aliquid explicabo. Iste eaque quo et
            commodi.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>